
h1{
    text-align: center;
    font-family: "Bitcount Grid Double";
    
}

#taskTable{
    background-image: url(images/formbg.jpg);
    background-position: center;
    font-style: normal;
    font-weight: bolder;
    

}

body{
    size: 100%;
    background-image: url(images/tile.jpg);
    background-size: 100%;
}

/* not working */
/* #addNote{
    text-align: right;
} */

#noteContainer{

    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

#noteContainer div{
    flex: 0 0 calc(20% - 1rem);
    background-image: url(images/notebg.png);
    background-size: cover;
    padding: 1rem;
    box-sizing: border-box;
}


